* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #dbcc8f;

  .contact {
    width: 100%;
    background-color: black;
    height: auto;

    .col-12 {
      display: flex;
      align-items: center;
      height: auto;

      i {
        font-size: 10px;
      }

      h5 {
        color: white;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  nav {
    width: 100%;

    .navbar-brand {
      font-size: 20px;
      font-weight: 700;
    }

    .collapseDiv {
      width: 80%;
      justify-content: flex-end;

      ul {
        display: flex;
        gap: 30px;
        font-size: 12px;
      }
    }
  }
}

main {
  #newArrival {
    width: 100%;
    min-height: 600px;
    background-color: #dbcc8f;
    display: flex;
    align-items: center;

    .newTxt {
      display: flex;
      flex-direction: column;

      h4 {
        background-color: black;
        width: 100px;
        font-weight: 400;
        font-size: 15px;
        color: white;
      }

      h1 {
        font-size: 65px;
        font-weight: 300;
      }

      button {
        width: 150px;
        height: 40px;
        border: none;
        background-color: #c2a942;
        color: white;
        font-weight: 500;
      }
    }

    .newImg {
      img {
        width: 100%;
      }
    }
  }

  #free {
    margin-top: 5%;
    text-align: center;
    .freeCard {
      i {
        font-size: 30px;
      }
      h1 {
        font-size: 20px;
      }
    }
  }
  #js {
    margin-top: 5%;
    text-align: center;
    #load {
      padding: 8px;
      background-color: #c2a942;
      color: #000;
      border: 0;
    }
    #load:hover {
      transition: 0.5s;
      background-color: #000;
      color: #c2a942;
    }
    #card {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      width: 100%;
      flex-wrap: wrap;
      .cardList {
        gap: 14px;
        margin-top: 5%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid 1px #000;
        border-radius: 16px;
        width: 250px;
        flex-wrap: wrap;
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 20px;
        }
        img {
          margin-top: 5%;
          width: 90%;
        }
        .btnnnn {
          .cardBtn {
            padding: 9px;
            background-color: #c2a942;
            color: #000;
            border: 0;
          }
          .cardBtn:hover {
            background-color: #000;
            color: #c2a942;
            transition: 0.5s;
          }
          .wishlistBtn {
            border: 0;
            margin-bottom: 10px;
            padding: 8px;
            background-color: #c2a942;
            color: #000;
          }
          .wishlistBtn:hover {
            background-color: #000;
            color: #c2a942;
            transition: 0.5s;
          }
        }
      }
    }

    .shoesTxt {
      h1 {
        font-size: 60px;
      }
      p {
        margin-top: 3%;
        color: gray;
        font-size: 20px;
      }
    }
    #inp {
      border: 0;
      background-color: #c2a942;
      padding: 6px;
      margin-top: 5%;
    }
    #inp:hover {
      background-color: #000;
      color: #c2a942;
      transition: 0.5s;
    }
    #searchBtn {
      padding: 6px;
      border: 0;
    }
    #searchBtn:hover {
      background-color: #000;
      color: #c2a942;
      transition: 0.5s;
    }
  }
  #collection {
    margin-top: 5%;
    width: 100%;
    min-height: 600px;
    color: white;
    .container {
      min-height: 600px;

      .men {
        background-image: url("/assets/image/choose-1.jpg");
        background-size: cover;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding-bottom: 20px;
        h4 {
          font-size: 14px;
          font-weight: 400;
        }
        p {
          font-size: 14px;
        }
        button {
          width: 90px;
          height: 35px;
          background-color: black;
          color: white;
          font-size: 13px;
          border-radius: 20px;
          border: none;
          &:hover {
            background-color: #dbcc8f;
          }
        }
      }

      .colAll {
        height: 100%;
        padding: 0;

        .row {
          min-height: 300px;

          .womenCol {
            background-color: #0290ff;
            display: flex;
            .womenTxt {
              margin: auto;
              h4 {
                font-size: 14px;
                font-weight: 400;
              }
              button {
                margin-bottom: 6px;
                width: 90px;
                height: 35px;
                background-color: black;
                color: white;
                font-size: 13px;
                border-radius: 20px;
                border: none;
                &:hover {
                  background-color: #dbcc8f;
                }
              }
            }
            img {
              width: 60%;
            }
          }

          .summer {
            background-color: #fff;
            text-align: center;
            margin: auto;
            color: black;
            h4 {
              font-size: 14px;
              font-weight: 400;
            }
            p {
              color: #9b9b9b;
            }
            button {
              margin-bottom: 6px;
              width: 90px;
              height: 35px;
              background-color: black;
              color: white;
              font-size: 13px;
              border-radius: 20px;
              border: none;
              &:hover {
                background-color: #dbcc8f;
              }
            }
          }

          .sellers {
            background-image: url("/assets/image/choose-3.jpg");
            background-size: cover;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h4 {
              font-size: 14px;
              font-weight: 400;
            }
            button {
              margin-bottom: 6px;
              width: 90px;
              height: 35px;
              background-color: black;
              color: white;
              font-size: 13px;
              border-radius: 20px;
              border: none;
              &:hover {
                background-color: #dbcc8f;
              }
            }
          }
        }
      }
    }
  }
  #deal {
    width: 100%;
    background-color: #dbcc8f;
    margin-top: 5%;
    .dealImg {
      margin-top: 5%;
      img {
        margin-top: 5%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
      }
    }
    .dealTxt {
      margin-top: 8%;
      .dealTime {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .nike {
        .nikeImg {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 30%;
          }
        }
      }
    }
  }
  #customer {
    margin-top: 5%;
    .customerCard {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      i {
        font-size: 40px;
      }
    }
    .customerSays {
      display: flex;
      flex-direction: column;
      p {
        color: gray;
      }
      img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 20%;
        border-radius: 50%;
      }
    }
  }
  #endCol {
    margin-top: 5%;
    text-align: center;
    .endColImg {
      img {
        height: 220px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
      }
    }
  }
  #formJs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .formTxt {
      h1 {
        font-size: 50px;
      }
    }
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2a942;
    flex-direction: column;
  }
}
footer {
  width: 100%;
  height: 60px;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 570px) {
  main {
    #formJs {
      .formTxt {
        h1 {
          font-size: 20px;
        }
      }
    }
  }
  main #deal .dealTxt .dealTime {
    flex-wrap: wrap;
  }
  main #newArrival .newTxt h1 {
    font-size: 20px;
  }
  main #customer .customerCard{
    flex-wrap: wrap;
    padding: 15px;
  }


  main #collection .container .colAll .row .womenCol {
    object-fit: cover;
  }
}
